<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pick-pocket-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49873D0A1E2174E80031B91A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49873D1E1E2174E80031B91A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49873D291E2174E80031B91A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
